@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,500;1,300&display=swap');
body {
    font-family: 'Raleway';
}
p {
    color: green;
}
#red-text {
    color: red;
    font-weight: 300;
}
.blue-text {
    color: blue ;
    font-weight: 700;
}