@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
body {
    font-family: 'Roboto' , sans-serif;
    background-image: url(images/patt.png);
}
* {
    box-sizing: border-box;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.row::after, .menu::after, .inmenu::after {
    content: "";
    display: block;
    clear: both;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-6 {
    width: 50%;
}
.col-3 {
    width: 25%;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.logo {
    margin-top: 7px;
}
.menu li {
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
    text-align: center;
    line-height: 50px;
}
.menu a:hover {
    background-color: #2c71b8;
    color: white;
}

.pro{
    position: relative;
}
.inmenu {
    position: absolute;
    display: none; 
}
.pro:hover .inmenu {
    display: block;
}
.inmenu li {
    width: 200%;
    border: none;
}
.inmenu a {
    background-color: #2c71b8;
    color: #e4edf6;
    border: none;
    display: block;
    text-align: left;
    height: 40px;
    border: none;
    padding: 15px;
    line-height: 15px;
}
.inmenu a:hover {
    background-color: #e4edf6;
    color: #2c71b8;
}
input {
    border: none;
    background-color: #cbdcee;
    height: 12px;
    margin: 15px;
    width: 70px;
    font-size: 12px;
}
input::placeholder {
    color: #2c71b8;
}
form {
    border: 1px solid #2c71b8;
    display: inline-block;
    height: 40px;
    width: 150px;
    position: relative;
    top: -6px;
}
.search {
    background-color: #2c71b8;
    border: none;
    height: 30px;
    margin: 5px;
    float: right;
}
.basket {
    display: inline-block;
    border: none;
    position: relative;
    background-color: #ffffff;
    margin-left: 30px;
    height: 40px;
    width: 40px;
    top: 7px;
}
.basket img {
    margin: 10px;
}
.number {
    display: block;
    position: absolute;
    background-color: #2c71b8;
    color: #e4edf6;
    border: 1px solid #2c71b8;
    border-radius: 10px;
    font-size: 12px;
    top: 25px;
    left: 1130px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}