h1 {
    width: 500px;
}
a {
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    display: block;
}
div {
    width: 500px;
    background-color: purple;
    color:white;

    padding: 20px;
    border:5px solid orange;
    margin: 20px;
    box-sizing: border-box;


}